doctype html
html
	head
		meta(property='og:title', content='#{title}')
		meta(property='og:description', content='This is G test description')
		meta(property='og:image', content='https://kwikwiz.herokuapp.com/images/uploads/1507368654136.png')
		meta(property='og:url', content='#{protocol}://#{site}#{Gtitle}')
		meta(property='og:site_name', content='Dustin Farris')
		meta(property='og:type', content='article')
		meta(name='twitter:card', content='#{protocol}://#{site}#{Gtitle}')
	body
		h1 #{title}!
		p some paragraph here..
