doctype html
html
	head
		meta(property='og:title', content='#{title}')
		meta(property='og:description', content='This is G test description')
		meta(property='og:image', content='#{socialImage}')
		meta(property='og:url', content='https://kwikwiz.herokuapp.com/viewQuiz#/?gpQ=59cb9356584045221c7495ba')
		meta(property='og:site_name', content='Dustin Farris')
		meta(property='og:type', content='article')
		meta(name='twitter:card', content='#{protocol}://#{site}#{Gtitle}')
	body
		h1 #{title}!
		p some paragraph here..
