doctype html
html
	head
		meta(property='og:title', content='#{Gtitle}')
		meta(property='og:description', content='#{Gtitle}')
		meta(property='og:image', content='#{protocol}://#{site}#{Gtitle}')
		meta(property='og:url', content='#{protocol}://#{site}#{Gtitle}')
		meta(property='og:site_name', content='Dustin Farris')
		meta(property='og:type', content='article')
		meta(name='twitter:card', content='#{protocol}://#{site}#{Gtitle}')
	body
		h1 #{title}!
		p some paragraph here..
